*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin background{
    background-color: #334E9E;
}
@mixin background_2{
    background-color:#00ACEC;
}
@mixin font-family{
    font-family: Arial, Helvetica, sans-serif;
}

.section{
    width: 100%;
    height: 260px;
}
.navbar{
    // position: fixed;
    display: flex;
    width: 100%;
    height: 110px;
    background-color: red;
    #ParkCinemaLogo{
        position: relative;
        display: inline-block;
        width: 41%;
        height: 100%;
        @include background();
        img{
            position: absolute;
            display: inline;
            width: 240px;
            height: 93px;
            right: 100px;
            top: 10px;
        }
    }
    .navbar_menu{
        display: inline-block;
        width: 60%;
        height: 100%;
        .navbar_menu_up{
            display: flex;
            background-color: white;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 50%;
            span{
                text-align: center;
                color: rgb(138, 135, 135);
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                &:hover {
                    color:black;
                }
            }
            ul{
                display: inline-block;
                margin-right: 100px;
                li{
                    display: inline-block;
                    margin-left: 5px;
                    font-weight: 500;
                    cursor: pointer;
                    @include font-family();
                    a{
                        color: black;
                        text-decoration: none;
                        i{
                            color: rgb(0, 208, 255);
                            margin-left: 3px;
                        }
                    }

                }
            }
        }
        .navbar_menu_low{
            display: flex;
            @include background_2();
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 50%;
            div{
                text-align: center;
                color: rgb(251, 251, 251);
                font-size: 20px;
                padding: 15px 19px;
                font-weight: 600;
                margin-left: 5px;
                border: none;
                cursor: pointer;
                &:hover {
                    @include background();
                    border: 1px solid #334E9E;
                }
            }
            #number{
                padding: 12px 19px;
                img{
                    width: auto;
                    height: 25px;
                    left: 0;
                    top: 6px;
                }
                margin-right: 100px;
            }
        }
    }
}

.Nbar{
    margin-top: 90px;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    div{
       text-transform: uppercase;
       padding: 16px 14px;
       font-size: 24px;
       @include font-family();
       font-weight: 600;
       a{
        color: white; 
        text-decoration: none;
       }
    }
    .today{
        @include background();
        border-radius: 6px;
    }
    &:hover{
        cursor: pointer;
    }

    
}

.dropdown{
    margin-top: -8px;
    width: 100%;
    height: 100px;
    display: flex;
    @include background();
    justify-content: center;
    align-items: center;
    .option{
        display: inline-block;
        margin-left: -10%;
        button{
            margin-left: 38px;
            padding: 9px 20px;
            border-radius: 20px;
            background-color: white;
            color: black;
            font-size: 20px;
            font-weight: 500;
            @include font-family();
        }
        .kinotatr{
            i{
                margin-left: 70px;
            }
        }
    }
}

.movies {
    width: 100%;
    height: 150vh;
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    padding: 10px;
    div{
        width: 270px;
        height: 60px;
        background-color: #F3F3F3;
        h2{
            text-align: center;
            padding-bottom: 30px;
            background-color: #F3F3F3;
        }
        .movies_resim{
            width: 270px;
            height: 360px;
            background-color: aliceblue;
            img{

                width: 100%;
                height: 100%;
                transition: 0.5s ease;
                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
                
            }
        }
        .movies_flag{
            text-align: center;
            background-color: white;
            height: 50px;
        }
        .movies_buton{
            position: relative;
            height: 70px;
            text-align: center;
            background-color: #F3F3F3;
            button{
                margin-top: 15px;
                padding: 10px 12px;
                color: white;
                @include background();
                border-radius: 20px;
                border: none;
                font-size: 20px;
                margin-left: -2px;
            }
            span{
                position: absolute;
                right: 10px;
                width: 40px;
                height: 40px;
                color: white;
                background-color: rgb(161, 12, 12);
                margin-left: 20px;
                border-radius: 50%;
                font-size: 24px;
                text-align: center;
                margin-top: 15px;
                line-height: 40px;
            }
        }
    }
}

.CinemaPlusKino{
    width: 100%;
    height: 500px;
    background-image: url(./resim&Logo/CienmaBackGround.jpg);
    img{
        margin-top: 40px;
        height: 90%;
        width: 100%;
        object-fit: cover;
    }
}

.CinemaPlusNews{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    button{
        background-color: #334E9E;
        color: white;
        font-weight: 600;
        font-size: 20px;
        @include font-family();
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        padding: 9px 24px;
        border: none;
    }
}

.Footer{
    width: 100%;
    height: 70vh;
    background-color: #334E9E;
    display: flex;
    justify-content: center;
    .Footer_movies{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 70%;
        color: white;
        margin-left: 40px;
        margin-right: 40px;
       .Footer_movies_mov{
        margin-left: 30px;
        .movie_img{
            width: 100%;
            height: 140px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .movie_text{
            margin-top: 16px;
            p{
                font-size: 24px;
                font-weight: 600;
            }
            h3{
                margin-top: 12px;
            }
        }
    }
    }
}

.footer{
    width: 100%;
    height: 300px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,129,255,1) 75%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    .footer_in{
        width: 80%;
        height: 100%;
        .footer_up{
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: space-between;
            .contact{
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 40px;
                row-gap: 10px;
                width: 33%;
                color: white;
            }
            .line{
                margin-top: 10px;
                width: 2px;
                height: 80%;
                background-color: white;
            }
            .sosial{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 33%;
                color: white;
                div{
                    i{
                        font-size: 40px;
                        margin-left: 12px;
                    }
                }
            }
            .OperatingSystem{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 34%;
                div{
                    width: 50%;
                    img{
                        width: 90%;
                        margin-left: 9px;
                    }
                }
            }
        }
        .footer_low{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3{
                color: white;
            }
            div{
                margin-top: 10px;
                width: 180px;
                height: 50px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
